@page "/contato"

<PageTitle>Contato</PageTitle>

<section class="pagina-contato">

    <div class="banner-principal">
        <p class="subtitulo-banner">Contato</p>

        <h1 class="titulo-banner">
            Fale comigo
        </h1>

        <p class="texto-banner">
            Entre em contato pelas minhas redes sociais
            ou plataformas abaixo.
        </p>
    </div>

    <section class="secao-destaques">

        <article class="cartao-destaque cartao-claro">
            <span class="numero-destaque">01</span>

            <h2>Instagram</h2>

            <p>
                Veja meus trabalhos e projetos.
            </p>

            <a href="https://www.instagram.com/nicolaskhauan/" target="_blank">
                Abrir Instagram
            </a>
        </article>

        <article class="cartao-destaque cartao-escuro">
            <span class="numero-destaque">02</span>

            <h2>WhatsApp</h2>

            <p>
                Entre em contato diretamente comigo.
            </p>

            <a href="https://wa.me/69999181673" target="_blank">
                Enviar mensagem
            </a>
        </article>

        <article class="cartao-destaque cartao-destaque-contato">
            <span class="numero-destaque">03</span>

            <h2>Email</h2>

            <p>
                Entre em contato por email.
            </p>

            <a href="mailto:nicolasjaconi09@gmail.com">
                Enviar email
            </a>
        </article>

    </section>

</section>