@page "/Curriculo"

<PageTitle>Competências</PageTitle>

<section class="pagina-curriculo">

    <div class="banner-principal">
        <p class="subtitulo-banner">Minhas competências</p>

        <h1 class="titulo-banner">
            O que eu faço
        </h1>

        <p class="texto-banner">
            Essas são algumas das tecnologias e habilidades
            que desenvolvi ao longo do tempo.
        </p>
    </div>

    <section class="secao-destaques">

        <article class="cartao-destaque cartao-claro">
            <span class="numero-destaque">01</span>

            <h2>Front-end</h2>

            <p>
                Desenvolvimento utilizando HTML, CSS e criação
                de interfaces modernas, apenas como programador iniciante.
            </p>
        </article>

        

        <article class="cartao-destaque cartao-destaque-contato">
            <span class="numero-destaque">02</span>

            <h2>Fotografia</h2>

            <p>
                Fotografia esportiva, edição de imagens
                e tratamento no Lightroom, pretendo me aprofundar mais no futuro e ter como uma fonte de renda basica.
            </p>
        </article>

        <article class="cartao-destaque cartao-destaque-contato">
            <span class="numero-destaque">03</span>

            <h2>Esportes</h2>

            <p>
                Sou jogador de vôlei e handebol, atualmente jogo pela escola que estudo, mas sinto que é algo que não vai desgrudar de min.
            </p>
        </article>

    </section>

</section>