@page "/curriculoGustavo"

<div class="container my-5">
    <div class="hero p-5 rounded shadow-sm text-white mb-4">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h1 class="display-6">Sobre mim</h1>
                <p class="lead">
                    Aqui abaixo está meu curriculo e algumas de minhas competências.
                </p>
            </div>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-lg-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Tecnologia</h5>
                    <p class="card-text">
                        Sou estudante do ensino médio técnico em Informática, com experiência prática em manutenção de computadores, incluindo formatação, montagem, limpeza e resolução de problemas.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Perfil</h5>
                    <p class="card-text">Sou autodidata, gosto de entender como as coisas realmente funcionam, sempre buscando evoluir e aprender mais.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Destaque</h5>
                    <p class="card-text">Recebi destaque em programação na Olimpíada Brasileira de Robótica, demonstrando raciocínio lógico e facilidade em resolver desafios.</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-5">

    <div class="text-center mt-4">
        <img src="https://media.tenor.com/9IAvnYl-A_MAAAAC/nerd-nerd-emoji.gif" alt="Nerd emoji" class="img-fluid" style="max-width:160px;">
    </div>


</div>

