@page "/Historia"

<PageTitle>Minha História</PageTitle>

<section class="pagina-historia">

    <div class="banner-principal">
        <p class="subtitulo-banner">Minha trajetória</p>

        <h1 class="titulo-banner">
            Quem sou eu?
        </h1>

        <p class="texto-banner">
            Meu nome é Nicolas Khauan, sou apaixonado por tecnologia,
            fotografia e vôlei. Atualmente estudo programação e desenvolvo
            projetos utilizando HTML, CSS, C#.
        </p>
    </div>

    <section class="conteudo-historia">

        <article class="cartao-destaque cartao-claro">
            <span class="numero-destaque">01</span>

            <h2>Como comecei</h2>

            <p>
                Comecei aprendendo programação e tecnologia por curiosidade, entrei no ifro e comecei a me aprofudar mais na área,
                e com o tempo fui me aprofundando em desenvolvimento web
                e design, ainda principiante, mas melhorando dia após dia.
            </p>
        </article>

        <article class="cartao-destaque cartao-escuro">
            <span class="numero-destaque">02</span>

            <h2>Fotografia</h2>

            <p>
                Também trabalho com fotografia esportiva e edição de imagens,
                buscando sempre melhorar minha criatividade e qualidade, sou iniciate nesse ramo, mas sinto que ainda vai me gerar muitos frutos.
            </p>
        </article>

    </section>

</section>