
@page "/"

<PageTitle>queletrem</PageTitle>

<section class="pagina-inicial">
    <section class="secao-banner">
        <div class="banner-principal">
            <p class="subtitulo-banner">Portifolio de Nicolas Khauan</p>
            <h1 class="titulo-banner">Bem-vindo ao meu portifólio pessoal</h1>
            <p class="texto-banner">
                Aqui é onde você pode saber mais da minha vida, entrar em contato comigo, ou até ver minhas competemcias.
            </p>
        </div>
    </section>

    <section class="secao-destaques" id="destaques" aria-label="Destaques do site">
        <article class="cartao-destaque cartao-claro">
            <span class="numero-destaque">01</span>
            <h2>Eu e meu trajeto</h2>
            <p>Aqui você descobre quem eu sou.</p>
            <a href="/historia">Portifolio Nicolas</a>
        </article>

        <article class="cartao-destaque cartao-escuro">
            <span class="numero-destaque">02</span>
            <h2>Minha caminhada</h2>
            <p>Aqui voce descobre quem eu sou</p>
            <a href="/Curriculo">Portifolio Joao</a>
        </article>

        <article class="cartao-destaque cartao-destaque-contato">
            <span class="numero-destaque">03</span>
            <h2>Fale comigo</h2>
            <p>Aqui voce descobre quem eu sou</p>
            <a href="/Contato">Portifolio Gustavo</a>
        </article>

        <article class="cartao-destaque cartao-destaque-contato">
            <span class="numero-destaque">03</span>
            <h2>Fale comigo</h2>
            <p>Aqui voce descobre quem eu sou</p>
            <a href="/Contato">Portifolio Matheus</a>
        </article>
    </section>


</section>


